.ritetag-poor {
    border: solid 1px #A0BEFF;
    background-color: #F0F9FF !important;
    background-image: none;
    color: #444;
    border-radius: 0px !important;
    border-left: solid 6px #A0BEFF;
}
.ritetag-good {
    border: solid 1px #91C954;
    background-color: #F0FFF0 !important;
    background-image: none;
    color: #444;
    border-radius: 0px !important;
    border-left: solid 6px #91C954;
}
.ritetag-overused {
    border: solid 1px #FF8080;
    background-color: #FFF5F5 !important;
    background-image: none;
    color: #444;
    border-left: solid 6px #FF8080;
    border-radius: 0px !important;
}
.ritetag-unused {
    border: solid 1px #E0E0E0;
    background-color: #FFF !important;
    background-image: none;
    color: #444;
    border-radius: 0px !important;
    border-left: solid 6px #E0E0E0;
}
.ritetag-infobar {
    padding: 8px;
    position: relative !important;
}
.ritetag-logo-icon {
    position: absolute;
    color: white;
    top: 13px;
    left: 11px;
    opacity: 0.8;
    font-size: 11px;
    cursor: pointer;
}
.ritetag-logo-icon.fa-link {
    padding-left: 2px;
}
.ritetag-infobar > div:not(.ritetag-logo) {
    display: none;
}
.ritetag-logo {
    position: absolute !important;
}
.ritetag-logo img {
    cursor: pointer !important;
}
.ritetag-logo .dropdown-menu {
    cursor: pointer !important;
}
.ritetag-logo li:last-child,
.ritetag-logo li:last-child a {
    background-color: transparent !important;
    cursor: default !important;
}
.ritetag-logo .caret {
    display: none !important;
}
.ritetag-error a {
    color: white !important;
    font-weight: bold !important;
    text-decoration: underline !important
}
.ritetag-error {
    background-color: #F54A4A;
    color: #FFF;
    padding: 6px;
    display: inline-block;
    line-height: 132%;
}
.ritetag-search-input {
    width: 100% !important;
    border: 1px solid #CED7DF !important;
    border-right: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.ritetag-search-button {
    height: 100%;
    margin: 0;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.detailedStats {
    display: flex;
    margin: 0;
}
.detailedStats > div {
    width: 16.6666%;
}
.ritetag-stats td:nth-child(2) {
    width: 100%;
}
.ritetag-stats .dropdown-menu {
    padding: 0;
}
.ritetag-stats .dropdown-menu li {
    padding: 2px 27px 2px 4px;
    position: relative;
    display: -webkit-box;
}
.ritetag-stats .dropdown-menu.double-column {
    -webkit-column-count: 2;
    -webkit-column-gap: 0;
}
.ritetag-stats .btn-hashtag-stats {
    height: 18px;
    width: 20px !important;
    color: #444 !important;
    padding: 3px !important;
    position: absolute !important;
    right: 0;
    top: 0;
    text-align: center;
}
.ritetag-stats a.tag-name {
    width: 100%;
    padding: 0 !important;
    color: #444 !important;
    text-align: left !important;
}
.ritetag-stats .dropdown-heading {
    color: #616161;
    font-size: 8pt;
    padding-left: 10px;
    background-color: #feffdb;
}
.ritetag-stats .add-remove-hashtag {
    margin: 0;
}
/*.ritetag-stats .infobar-dropdown.open .dropdown-toggle {
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 4px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
}*/
.ritetag-stats .dropdown-toggle,
.ritetag-stats .dropdown-toggle:active,
.ritetag-stats .dropdown-toggle:focus {
    display: -webkit-box;
    cursor: pointer !important;
    float: none !important;
    color: #444 !important;
    background-image: none;
    border-radius: 0px !important;
    text-decoration : none;
    white-space: nowrap !important;
    padding: 2px 4px;
}
.ritetag-stats .dropdown-menu {
    margin: 4px 0px !important;
    border-radius: 0 !important;
}
.ritetag-stats .detailedStats {
    text-align: center;
    color: #666;
}
.ritetag-stats .detailedStats .fa {
    display: block;
}
.ritetag-stats .dropdown-toggle:after {
    top: 10px !important;
}
.ritetag-infobar .trendingWrapper {
    overflow-x: hidden;
    white-space: nowrap;
    margin-top: 1px;
    margin-left: 3px;
    width: 355px;
    display: inline-block;
    width: 100%;
}
.ritetag-infobar .trendingLeft.disabled,
.ritetag-infobar .trendingRight.disabled {
    color: silver;
    cursor: default;
    background-color: transparent;
}
.ritetag-infobar .trendingLeft,
.ritetag-infobar .trendingRight {
    font-size: 18pt;
    color: #759bad;
    vertical-align: top;
    margin-top: 3px;
    cursor: pointer;
    padding: 0 5px 0 5px;
}
.ritetag-infobar .taglink.selected {
    font-weight:bold;
}
.ritetag-infobar .taglink {
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #444 !important;
    cursor: pointer;
    line-height: 20px;
    padding: 2px 4px;
}
.ritetag-legend {
    margin: 0px !important;
    display: inline-table !important;
    width: 100% !important;
}
.ritetag-legend span {
    width: auto !important;
    display: block !important;
    margin: 5px !important;
}
.ritetag-logo .dropdown-menu {
     padding-bottom: 0 !important;
}
.ritetag-legend span {
    padding: 2px 3px;
    font-size: 13px;
}
.ritetag-stats .dropdown.open .dropdown-toggle {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
}
.ritetag-infobar .taglink {
    font-size: 13px !important;
}
/*.dropdown.open .dropdown-menu {
    display: block;
}*/

.ritetag-infobar {
    padding: 0 0 10px 0;
    margin-left:35px;
    min-height: 35px;
}
.modal-tweet-form-container .ritetag-infobar {
    padding-left: 38px;
}
.ritetag-logo {
    left: -30px;
    top: -2px;
}
.ritetag-logo-icon {
    font-size: 11px !important;
}
.modal-tweet-form-container .ritetag-logo {
    left: -7px;
    top: -6px;
}
.ritetag-logo li:last-child a:hover,
.ritetag-logo li:last-child a:focus { /* Legend */
    color: #66757f;
}
.ritetag-stats .dropdown-toggle {
    font-size: 14px;
    line-height: 20px;
    padding: 2px 4px;
}
.ritetag-infobar .dropdown-toggle .caret {
    margin-right: 2px;
}
.ritetag-infobar .dropdown-toggle:focus .caret,
.ritetag-infobar .dropdown-toggle:hover .caret,
.ritetag-infobar .dropdown-toggle:active .caret,
.ritetag-infobar .dropdown-toggle:visited .caret,
.ritetag-infobar .open .dropdown-toggle .caret {
    border-top-color: #66757f !important;
}
.ritetag-search {
    height: 33px !important;
}
.ritetag-search-input {
    outline: 0;
    border: 1px solid;
    border-color: rgba(59, 148, 217, 0.25) !important;
    box-shadow: none !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 14px;
    color: #8899a6;
    padding-top: 3px;
    padding-left: 10px;
    height: 24px !important;
    line-height: 20px !important;
}
.ritetag-search-input:focus {
    border-color: rgb(176, 212, 239) !important;
    color: #292f33;
}
.ritetag-stats .hint {
    cursor: help;
}